<link rel="stylesheet" href="directives/quiz/kuizu.css">

<div class="quiz-area" ng-show="inProgress">
    <div ng-show="!quizOver">
        <div class="QuestionResultStatus" ng-show="!answerMode">
            <div class="answer_correct">
                <span ng-show="correctAns"><i class="fa fa-check"></i></span>
            </div>
            <div class="answer_wrong">
                <span ng-show="!correctAns"><i class="fa fa-times"></i></span>
            </div>
        </div>




        <h2 id="question">{{question}}</h2>
            <form name="QuestionForm">
                <ul id="options">
                <li ng-repeat="option in options">
                    <button ng-click="checkAnswer(option)" value="{{option}}">
                        {{option}}
                    </button>
                </li>
            </ul>
            </form>
    </div>

    <div ng-show="quizOver">
        <h2>Quiz is over</h2>
        <p>You got {{score}}/{{id}}</p>
        <button ng-click="reset()">Play again</button>
    </div>
</div>

<div class="intro" ng-show="!inProgress">
    <p>Quiz Time</p>
    <button  id="startQuiz" ng-click="start()">Ready?</button>
</div>