.home_base {
    position: absolute;
    width: 100%;
    height: 300%;
    background-color: #00dcff;
}

.home_base .sun {
    position: absolute;
    border-radius: 50%;
    background-color: yellow;
    z-index: 11;
}

.home_base .title {
    position: relative;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 800;
    color: #5d5d5d;

    z-index: 12;
}

.stay {
    position: fixed;
    top: 10vh;
    font-size: 1em;
}

.move {
    position: absolute;
}

.home_base .sky {
    position: fixed;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 10em;
    background-color: rgb(12, 144, 255);

    z-index: 10;
}

.home_base kuizu {
    position: absolute;
    top: 60%;
    left: 10%;

    width: 80%;
    height: 10em;
}
