.home_base {
    position: absolute;
    width: 100%;
    height: 300%;
    background-color: #00dcff;
}

.home_base .sun {
    position: absolute;
    border-radius: 50%;
    background-color: yellow;
}

.home_base .title {
    position: relative;
    text-align: center;
}
