.home_base {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.home_base .sun {
    position: fixed;
    border-radius: 50%;
    background-color: #FFEB3B;
    z-index: 11;

    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.home_base .title {
    position: fixed;

    width: 100%;

    text-align: center;
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-weight: 800;
    color: #5d5d5d;

    z-index: 12;
}

.stay {
    /*position: fixed !important;*/
}

.move {
    position: absolute;
}

.home_base .sky {
    position: fixed;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 10em;

    z-index: 10;

    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);

    /*background: -moz-linear-gradient(270deg, rgb(58, 58, 58) 4%, rgba(255, 255, 255, 0) 98%);*/
    /*background: -webkit-linear-gradient(270deg, rgb(58, 58, 58) 4%, rgba(255, 255, 255, 0) 98%);*/
    /*background: -o-linear-gradient(270deg, rgb(58, 58, 58) 4%, rgba(255, 255, 255, 0) 98%);*/
    /*background: -ms-linear-gradient(270deg, rgb(58, 58, 58) 4%, rgba(255, 255, 255, 0) 98%);*/
    /*background: linear-gradient(0deg, rgb(58, 58, 58) 4%, rgba(255, 255, 255, 0) 98%);*/
}

.home_base section {
    position: relative;
    top: 13em;
    left: 10%;
    padding-top: 10em;
    width: 100%;
    text-wrap: normal;
}

.home_base .wrapper {
    width: 80%;
}

.home_base kuizu {
    position: relative;
    width: 100%;
}

/*
                Font stuff

*/

.home_base h1 {
    font-size: 3em;
    font-weight: 800;
    color: #212121;
}

.container {
    margin-top: 72vh;
    margin-left: 150px;
}

.navigation {
    position: fixed;
    top: 10em;
    height: 100%;
    width: 250px;
    background-color:#f3f3f3;
    z-index: 8;
    padding: 10px;
    text-align: left;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.navigation h2  {
    position:relative;
    font-size:2.3em;
    left:1.2em;
    font-weight: 800;
}

.navigation ul{
    padding-top:0.5em;
}


.navigation a {
    position:relative;
    top:2em;
    left:3em;
    padding:2px;

}

.navigation a:link {
    color: #333;
    font-size: 1.1em;
    font-weight: 600;
    background-color: transparent;
    text-decoration: none;

}

.navigation a:visited {
    color: #333;
    background-color: transparent;
    text-decoration: none;
}

.navigation a:hover {
    color: #222;
    background-color: transparent;
    text-decoration: underline;

    font-size:1.04em;
}

.navigation a:active {
    color: #333;
    background-color: transparent;
    text-decoration: underline
}

.navigation ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.nav_item   {
    padding-top:10px;
}

.arrowdown {
    position: fixed;
    bottom: 0;
    left: 50%;
    right: 50%;
    z-index: 100;
    font-size: 9em;

}

.arrowdown:hover    {
    color:#444;
}

.arrowdown a:link {
    color: #333;
    background-color: transparent;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.arrowdown a:visited {
    color: #333;
    background-color: transparent;
    text-decoration: none
}

.arrowdown a:hover {
    color: #333;
    background-color: transparent;
    text-decoration: none;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.56);

}

.arrowdown a:active {
    color: #333;
    background-color: transparent;
    text-decoration: none
}




blockquote p {
    position:relative;
    left:2em;
}

blockquote .fa{
    position:absolute;
    left:0;
    font-size:3em;
    text-align:right;
    color:#212121;
}




